@using DarkSky.OrchardMarket
<div><img src="@Url.Content(string.Format("~/Modules/{0}/Content/account.signupbanner.png", ModuleInfo.ModuleName))" alt="" /></div>
<p>
	Already have an account?<br />
    @Html.ActionLink(T("Sign in").Text, "LogOn", "Account", new { area = "Orchard.Users" }, null) and contribute.
</p>