<nav class="submenu">
	<h3>Categories</h3>
	<ul>
		<li><a href="#">Administration</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Commerce</a></li>
		<li><a href="#">Content</a></li>
		<li><a href="#" class="active">E-Learning</a></li>
		<li><a href="#">Developer</a></li>
		<li><a href="#">CRM</a></li>
		<li><a href="#">BPM</a></li>
		<li><a href="#">Project Tools</a></li>
	</ul>
</nav>