@{
    Style.Include("Home.min.css");
}
<article id="search-signup" class="group">
    <div class="column search">
        <h2><span class="strong">Find</span> Modules and Themes</h2>
        <form method="GET" action="#">
            <div class="search-wrapper">
                <input type="text" />
                <a href="#" class="search-button"></a>
            </div>
        </form>
    </div>
    <div class="column signup">
        <h2><span class="strong">Sell</span> Modules and Themes</h2>
        <a href="#" class="button-big">Create Account</a>
    </div>
</article>