@{
    Layout.Title = T("Challenge Email Sent");
    Layout.TitleZone.Add(New.Content_Title());
}
<p>@T("An email has been sent to you. Please click on the link it contains in order to have access on this site.") </p>