@{
    Layout.Title = Html.TitleForPage(T("Change Password").Text);
    Layout.TitleZone.Add(New.Content_Title());
    Layout.AsideFirst.Add(New.Account_SignUp_Aside());
}
<p>@T("Your password has been changed successfully.")</p>
