<nav class="submenu">
	<ul>
		<li><a href="#">My Account</a></li>
		<li><a href="#">My Details</a></li>
		<li><a href="#">My Purchases</a></li>
		<li><a href="#">My Sales</a></li>
		<li><a href="#" class="active">My Modules</a></li>
        <li><a href="#">My Themes</a></li>
        <li><a href="#">My Tickets</a></li>
	</ul>
</nav>