.center-layout {
  width: 1000px;
  margin: 0 auto 0 auto;
  position: relative; }

#site-header {
  position: relative;
  min-height: 112px; }

#main-nav {
  float: right; }
  #main-nav .bg-wrapper {
    background: url("../content/images/ui.png"); }
    #main-nav .bg-wrapper.left {
      background-position: left 0; }
    #main-nav .bg-wrapper.right {
      background-position: right -42px; }
  #main-nav .navigation-wrapper {
    background: url("../content/images/ui.png") 0 -84px;
    margin: 0px 13px 0 13px;
    padding: 5px 0 0 0;
    height: 37px; }
    #main-nav .navigation-wrapper .main-navigation {
      float: left; }
      #main-nav .navigation-wrapper .main-navigation ul {
        margin-left: 15px; }
        #main-nav .navigation-wrapper .main-navigation ul a {
          color: #2a8038; }
        #main-nav .navigation-wrapper .main-navigation ul li.current a {
          background: #36a548;
          color: #fff; }
    #main-nav .navigation-wrapper .user-navigation {
      float: left; }
      #main-nav .navigation-wrapper .user-navigation ul {
        border-left: 1px solid #c9c9c9;
        padding-left: 11px;
        margin-left: 9px; }
        #main-nav .navigation-wrapper .user-navigation ul a, #main-nav .navigation-wrapper .user-navigation ul span {
          color: #249fc0; }
        #main-nav .navigation-wrapper .user-navigation ul .welcome {
          color: #818181;
          background: url("../content/images/ui.png") 0 -214px;
          padding-left: 27px; }
        #main-nav .navigation-wrapper .user-navigation ul li.current a {
          background: #249fc0;
          color: #fff; }
    #main-nav .navigation-wrapper ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #main-nav .navigation-wrapper ul li {
        float: left; }
        #main-nav .navigation-wrapper ul li a {
          font-family: 'Segoe UI';
          font-size: 1.231em;
          height: 23px;
          line-height: 21px;
          display: block;
          padding: 0 14px 0 14px; }
        #main-nav .navigation-wrapper ul li.current a {
          border-radius: 10px; }

#user-nav {
  float: right;
  margin: -4px 15px 0 0; }
  #user-nav .bg-wrapper {
    background: url("../content/images/ui.png"); }
    #user-nav .bg-wrapper.left {
      background-position: left -153px; }
    #user-nav .bg-wrapper.right {
      background-position: right -126px; }
  #user-nav .navigation-wrapper {
    background: #cdcdcd url("../content/images/ui.png") 0 -180px;
    margin: 0 11px 0 11px; }
    #user-nav .navigation-wrapper ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #user-nav .navigation-wrapper ul li {
        float: left;
        margin-left: 0.846em;
        margin-right: 0.923em; }
        #user-nav .navigation-wrapper ul li a {
          font-family: 'Segoe UI';
          font-size: 0.923em;
          color: #3b3b3b;
          height: 25px;
          line-height: 25px;
          display: block; }
  #user-nav a.shoppingcart-menuitem span.item-count {
    display: inline-block;
    width: 22px;
    height: 25px;
    line-height: 25px;
    background: url("../content/images/sprites.png") -8px -381px no-repeat;
    text-align: center;
    color: #2a8038;
    font-family: 'Segoe UI';
    font-size: 0.923em; }

#branding a.logo {
  display: block;
  width: 202px;
  height: 70px;
  position: absolute;
  top: 31px;
  left: 14px;
  background: url("../content/images/sprites.png"); }

#site-content {
  background: url("../content/images/content-bg.png") repeat-x;
  margin-top: 40px; }
  #site-content .bg-wrapper.left {
    background: url("../content/images/content-ui-left.png") no-repeat left 0; }
  #site-content .bg-wrapper.right {
    background: url("../content/images/content-ui-right.png") no-repeat right 0; }
  #site-content .bg-wrapper.center {
    margin: 0 28px 0 11px;
    padding: 25px 0 0 0;
    background: url("../content/images/content-ui-top.png") repeat-x; }
  #site-content .content-main {
    background: #fff;
    padding: 0 0 0 33px;
    min-height: 500px; }

#content-header-wrapper {
  min-height: 73px; }
  #content-header-wrapper .title-wrapper h1 {
    color: #3b3b3b;
    font-size: 2.461em;
    line-height: 40px;
    margin: 0;
    background: url("../content/images/sprites.png") 0 -222px no-repeat;
    padding: 0 0 0 50px; }

.content-header-1 #content-header-wrapper .title-wrapper {
  float: left;
  width: 50%; }
.content-header-1 #content-header-wrapper .zone-content-header {
  float: right; }

.aside-1 #content-wrapper #aside-first-zone-wrapper {
  float: left;
  width: 179px;
  margin-right: 18px; }
.aside-1 #content-wrapper #content-zone-wrapper {
  float: left;
  width: 730px; }

.triple-123 #triples-wrapper .zone {
  float: left;
  width: 33.333%; }

#site-footer {
  background: #2e2e2e url("../content/images/ui.png") center bottom repeat-x;
  height: 245px;
  overflow: hidden;
  margin-top: 100px; }
  #site-footer nav {
    margin: 0 0 0 45px; }
    #site-footer nav .column {
      float: left;
      width: 180px; }
    #site-footer nav h3 {
      font-size: 1.385em;
      color: #0e0e0e;
      margin: 0;
      line-height: 44px; }
    #site-footer nav ul {
      list-style: none;
      margin: 12px 0 0 0; }
      #site-footer nav ul li {
        margin-bottom: 3px; }
        #site-footer nav ul li a {
          color: #969696;
          font-size: 1.077em;
          display: block;
          background: url("../content/images/bullets.png") no-repeat;
          padding: 0 0 0 13px; }

