.package-details {
    p.description {
        float:left;
        width:500px;
    }

    .logo-wrapper {
        float:right;
    }
}

.logo-wrapper {

    img {
        max-width:512px;
    }
}

.commands {
	margin-top:35px;
}
