/* Reset
***************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* Remember focus styles! */
:focus {
  outline: 0; }

ol, ul {
  list-style: none; }

/* Tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* HTML 5 elements as block */
header, footer, aside, nav, article {
  display: block; }

/* Clearing Floats
***************************************************************/
.group:after, .zone:after, .widget-control:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both; }

/* General
***************************************************************/
/* Default font settings. 
The font-size 81.3% sets the base font to 13px 

Pixels     EMs         Percent Points
6px     0.462em     46.2%     5pt
7px     0.538em     53.8%     5pt
8px     0.615em     61.5%     6pt
9px     0.692em     69.2%     7pt
10px     0.769em     76.9%     8pt
11px     0.846em     84.6%     8pt
12px     0.923em     92.3%     9pt
13px     1em         100%     10pt
14px     1.077em     107.7%     11pt
15px     1.154em     115.4%     11pt
16px     1.231em     123.1%     12pt
17px     1.308em     130.8%     13pt
18px     1.385em     138.5%     14pt
19px     1.462em     146.2%     14pt
20px     1.538em     153.8%     15pt
21px     1.615em     161.5%     16pt
22px     1.692em     169.2%     17pt
23px     1.769em     176.9%     17pt
24px     1.846em     184.6%     18pt
30px     2.308em     230.8%     23pt
32px     2.461em     264.2%     25pt
*/
body {
  line-height: 1;
  font-size: 81.3%;
  color: #434343;
  background: #fefefe url("../content/images/bg.jpg") no-repeat center 0;
  font-family: "HelveticaNeueW01-45Ligh", Tahoma, Arial, Helvetica, sans-serif; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: .6em 0;
  font-family: 'HelveticaNeueW01-45Ligh'; }

h1 {
  font-size: 1.308em; }

h2 {
  font-size: 1.231em; }

h3 {
  font-size: 1.154em; }

h4 {
  font-size: 1.077em; }

h5, h6 {
  font-size: 1em; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* Aside Headings */
aside h1 {
  font-size: 1.154em; }
aside h2 {
  font-size: 1.077em; }
aside h3, aside h4, aside h5, aside h6 {
  font-size: 1em; }

/* Lists */
li ul, li ol {
  margin: 0 1.5em; }

ul, ol {
  margin: 1.5em;
  line-height: 1.538em; }

ul {
  list-style-type: disc; }

ul.lines {
  margin: 0;
  list-style: none; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }
  dl dt {
    font-weight: bold; }

dd {
  margin-left: 1.5em; }

/* Text elements */
p {
  margin: 0 0 1em;
  line-height: 1.538em; }
  p img.left {
    float: left;
    margin: 0.923em 0.923em 0.923em 0;
    padding: 0; }
  p img.right {
    float: right;
    margin: 0.923em 0 0.923em 0.923em; }

a {
  color: #5f97af;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: underline; }

blockquote {
  margin: 0.923em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

dfn {
  font-style: italic;
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 0.923em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 0.923em 0;
  white-space: pre;
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.462em; }

code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.462em; }

/* Forms
***************************************************************/
form {
  margin: 0;
  padding: 0; }

legend {
  font-size: 1.231em;
  font-weight: normal;
  border: none; }

fieldset {
  padding: 6px 0 0;
  margin: 0 0 12px 0;
  border: 0px solid #dbdbdb; }

label {
  font-weight: normal;
  display: block;
  padding: 0 0 0.3em 0; }
  label.forcheckbox {
    margin: 0 0 0 .4em;
    display: inline; }

input[type="text"], input[type="password"], input[type="email"] {
  display: block;
  padding: 0.3em;
  font-family: 'Arial';
  color: #818181;
  border: 1px solid #ccc;
  line-height: 20px;
  height: 23px;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.075);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-transition: .2s linear background;
  -webkit-transition: .2s linear background;
  transition: .2s linear background;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  input[type="text"].input-validation-error, input[type="password"].input-validation-error, input[type="email"].input-validation-error {
    border-color: #249fc0;
    color: #249fc0;
    -moz-box-shadow: 1px 1px 7px rgba(36, 159, 192, 0.5), 0 1px 0 rgba(255, 255, 255, 0.075);
    -webkit-box-shadow: 1px 1px 7px rgba(36, 159, 192, 0.5), 0 1px 0 rgba(255, 255, 255, 0.075);
    box-shadow: 1px 1px 7px rgba(36, 159, 192, 0.5), 0 1px 0 rgba(255, 255, 255, 0.075); }
input[type="checkbox"] {
  margin: .2em 0 1.2em 0; }

.validation-summary-errors {
  color: #8c7ae0; }

fieldset ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  fieldset ol li {
    margin: 0 0 6px 0; }

form.inline {
  /* todo: (heskew) need something other than .inline ... */
  display: inline; }
  form.inline fieldset {
    /* todo: (heskew) need something other than .inline ... */
    display: inline;
    margin: 0; }

input[type="checkbox"]:focus, input[type="radio"]:focus {
  outline: 1px dotted #2a8038; }
input[readonly] {
  background-color: #EBEBE4;
  color: #545454; }

span.field-validation-error {
  color: #249fc0;
  line-height: 25px;
  font-family: 'Arial'; }

legend span {
  font-weight: normal; }

.zone-content fieldset {
  margin: 0 auto 35px auto; }
  .zone-content fieldset legend {
    font-family: 'HelveticaNeueW01-45Ligh';
    font-size: 1.846em;
    color: #4b4b4b;
    border-top: 1px dotted #d3d3d3;
    border-bottom: 1px dotted #d3d3d3;
    display: block;
    width: 100%;
    padding: 9px 0 9px 0;
    margin-bottom: 13px; }
  .zone-content fieldset .field-editor {
    margin: 0 0 1em 0; }
    .zone-content fieldset .field-editor label {
      color: #4b4b4b;
      font-size: 1.077em;
      font-family: Arial; }
    .zone-content fieldset .field-editor .text-box {
      width: 100%;
      display: inline-block;
      font-family: 'Arial'; }
    .zone-content fieldset .field-editor span, .zone-content fieldset .field-editor .value {
      color: #818181; }
    .zone-content fieldset .field-editor.single-line {
      margin-bottom: 0.5em; }
      .zone-content fieldset .field-editor.single-line label {
        float: left;
        width: 120px; }
        .zone-content fieldset .field-editor.single-line label:after {
          content: ':'; }
      .zone-content fieldset .field-editor.single-line .value {
        float: left; }
      .zone-content fieldset .field-editor.single-line:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
  .zone-content fieldset .commands ul {
    margin: 0;
    list-style: none; }
  .zone-content fieldset .commands:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .zone-content fieldset .column {
    float: left;
    width: 50%; }
  .zone-content fieldset a.button {
    margin: 10px 0 5px 0; }
.zone-content .custom-form fieldset {
  margin: 0 0 0 0; }
.zone-content .custom-form input[type='text'], .zone-content .custom-form input[type='email'], .zone-content .custom-form textarea {
  width: 570px; }

a.button {
  display: inline-block;
  padding: 0 15px 0 15px;
  background: #bcbcbc;
  color: #fff;
  border-radius: 10px;
  height: 18px;
  line-height: 15px; }
  a.button:hover {
    background: #36a548;
    color: #fff;
    text-decoration: none; }

a.button2 {
  display: inline-block;
  height: 24px;
  border: 1px solid #aaa;
  text-align: center;
  padding: 0 6px 0 6px;
  background: #ededed;
  color: #3b3b3b; }

a.add-button {
  display: block;
  width: 90px;
  height: 28px;
  line-height: 26px;
  padding: 0 0 0 29px;
  background: url("../content/images/sprites.png") 0 -320px;
  color: #3b3b3b; }
  a.add-button.wide {
    width: 211px;
    background-position: -145px -320px; }

a.remove-button {
  display: block;
  width: 90px;
  height: 28px;
  line-height: 26px;
  padding: 0 0 0 29px;
  background: url("../content/images/sprites.png") 0 -353px;
  color: #3b3b3b; }

label span {
  font-weight: normal; }
label input {
  vertical-align: text-top; }

.hint {
  display: block;
  font-size: 0.846em;
  color: #999;
  margin-top: 3px;
  padding: 3px; }

/* todo: (heskew) try to get .text on stuff like .text-box */
select, textarea {
  font-family: inherit;
  padding: 3px;
  border: 1px solid #bdbcbc;
  font-family: inherit;
  font-size: inherit; }

input.text, input.textMedium, input.text-small, input.text-box {
  font-family: inherit;
  padding: 3px;
  border: 1px solid #bdbcbc;
  font-family: inherit;
  font-size: inherit; }
  input.text.input-validation-error, input.textMedium.input-validation-error, input.text-small.input-validation-error, input.text-box.input-validation-error {
    border-color: #249fc0; }
input.text, input.textMedium, input.text-box {
  line-height: 1.2em; }
input.textMedium {
  width: 300px; }

select {
  padding: 1px; }
  select:focus {
    border-color: #666d51; }

textarea.textMedium {
  width: 300px; }

textarea:focus {
  border-color: #666d51; }

input.text:focus, input.text-box:focus, input.text-small:focus, input.textMedium:focus {
  border-color: #666d51; }
  input.text:focus.input-validation-error, input.text-box:focus.input-validation-error, input.text-small:focus.input-validation-error, input.textMedium:focus.input-validation-error {
    border-color: #249fc0; }
input.check-box {
  margin-left: 0;
  vertical-align: -0.1em; }
input.large.text {
  clear: both; }

textarea, fieldset {
  clear: both; }

textarea {
  min-height: 8em; }

.button-big {
  display: block;
  width: 264px;
  height: 62px;
  line-height: 62px;
  background: url("../content/images/sprites.png") 0 -130px;
  color: #fff;
  font-family: 'HelveticaNeueW01-45Ligh';
  font-size: 1.846em;
  font-weight: bold;
  text-align: center; }

nav.submenu h1, nav.submenu h3, .widget-taxonomy-menu h1, .widget-taxonomy-menu h3, .zone-aside-first .widget-menu-widget nav h1, .zone-aside-first .widget-menu-widget nav h3 {
  margin-left: 10px;
  color: #818181;
  font-size: 1.385em; }
nav.submenu ul, .widget-taxonomy-menu ul, .zone-aside-first .widget-menu-widget nav ul {
  list-style: none;
  margin: 0; }
  nav.submenu ul li, .widget-taxonomy-menu ul li, .zone-aside-first .widget-menu-widget nav ul li {
    border-bottom: 1px dotted #cfcfd0;
    padding-left: 10px; }
    nav.submenu ul li.current a, .widget-taxonomy-menu ul li.current a, .zone-aside-first .widget-menu-widget nav ul li.current a {
      background: url("../content/images/ui.png") right -245px;
      text-decoration: underline; }
    nav.submenu ul li a, .widget-taxonomy-menu ul li a, .zone-aside-first .widget-menu-widget nav ul li a {
      color: #2a8038;
      font-size: 1.231em;
      line-height: 50px;
      display: block; }

.zone-messages {
  margin: 0 0 10px 0; }
  .zone-messages .message {
    border: 1px solid #2a8038;
    padding: 10px;
    background: #36a548;
    color: #fff;
    margin: 0 0 2px 0; }
    .zone-messages .message.message-Error {
      border: 1px solid #ee65d8;
      background: #d665ee;
      color: #fff; }
    .zone-messages .message.message-Warning {
      border: 1px solid #b3a31a;
      background: #e0cb12;
      color: #fff; }

ul.tags {
  list-style: none;
  margin: 0; }

.summary {
  margin: 0 0 1em 0; }
  .summary label {
    color: #4b4b4b;
    font-size: 1.077em;
    font-family: Arial; }
  .summary span {
    color: #818181;
    display: block;
    line-height: 21px; }

.icon {
  background: url("../content/images/icons.png") no-repeat;
  padding: 0 0 0 30px;
  line-height: 16px;
  display: inline-block; }
  .icon.published {
    background-position: 0px 0px; }
  .icon.unpublished {
    background-position: 0px -64px; }

.table-1 {
  background: url("../content/images/thead.png") no-repeat;
  padding: 0 10px 0 20px; }
  .table-1 table {
    width: 100%; }
    .table-1 table thead tr {
      height: 39px; }
    .table-1 table thead th {
      font-size: 1.077em;
      vertical-align: top;
      padding-top: 8px; }
    .table-1 table td a.button {
      margin: 0 0 5px 0; }
  .table-1 .commands {
    padding: 10px 0 0 20px; }
    .table-1 .commands ul {
      list-style: none;
      margin: 0; }
      .table-1 .commands ul li {
        float: left;
        padding-right: 10px; }
      .table-1 .commands ul:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }

.table-2 .summary span {
  display: inline; }
.table-2 table {
  width: 100%; }
  .table-2 table thead th {
    font-size: 1.231em;
    color: 3b3b3b;
    border-top: 1px dotted #cfcfd0;
    border-bottom: 1px dotted #cfcfd0;
    padding: 2px 0 2px 3px; }
  .table-2 table tbody td {
    height: 90px;
    padding: 0 0 0 5px;
    border-bottom: 1px dotted #cfcfd0;
    vertical-align: middle; }
  .table-2 table tfoot {
    background: #f5f5f5; }
    .table-2 table tfoot td {
      padding: 4px 8px 2px;
      font-size: 1.077em;
      color: #3b3b3b; }
      .table-2 table tfoot td .commands {
        float: right;
        margin: 47px 0 0 0; }
        .table-2 table tfoot td .commands a.button {
          margin-right: 17px; }

ul.radio-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.radio-list.horizontal:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  ul.radio-list.horizontal li {
    float: left;
    margin-right: 1em; }
    ul.radio-list.horizontal li label {
      display: inline; }

.message a.proceed-to-checkout {
  float: right;
  color: #ffd965; }

